{% extends "blog/index.html" %}

{% block title %}About_me page{% endblock %}

{% block section %}
<section>
    <article>
        <header>
            <h2 id='my_name'>Serhii Bieliakov</h2>
            <p>Web Developer, Psychologist, Philosopher and just a great guy :)</p>
        </header>
        <content>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/75Shb4sEFYs" frameborder="0" allowfullscreen></iframe>
            
            <p>Hello there! You are most welcome to browse around!</p>
           
        </content>   
        <footer>  
            <p>Contact information</p>
            <ul>
                <li><a href='https://www.linkedin.com/pub/serhii-bieliakov/b6/1b0/535'>LinkedIn</a></li>
                <li><a href='https://www.facebook.com/belyakov.sergei'>Facebook</a></li>
                <li><a href='mailto:belyakov_sergei@ukr.net'>Email</a></li>
            </ul>
        </footer>
                     
    </article>


</section>
{% endblock %} <!--section-->