{% extends "blog/index.html" %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/category_tag.css' %}" />

{% block title %}Category page{% endblock %}

{% block section %}
    <section>

        {% if category %}
            {% if posts %}
                        
                <article>
                    <header>
                        <h1> Category: <a href="blog/category/{{ category.slug }}">{{ category.name }}</a></h1>
                    </header>
                </article>
                {% for post in posts %}
                    <article>
                        <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                    </article>
                {% endfor %}
            {% else %}
                <strong>No posts currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </section>
{% endblock %}