{% extends "blog/index.html" %}

{% block head %}
    <meta name="author" content="Serhii Bieliakov" />
    <meta name="keywords" content="{% for tag in post.tag.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
    <meta name="description" content="{{ post.snippet }}" />
    <!-- I should check this out
    <meta name="google-site-verification" content="mEo_suS-oh8CIK1g_f4zyh_J4xPrngx5UDViww2R974" />-->
    <title>{{ post.title }}</title>
    
    
{% endblock %}


{% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/style.css' %}" />

    
{% block section %}    
    
    <section>
        <article>
            <header>
                
                <h1><a href="#">{{ post.title }}</a></h1>
                <p>Posted by {{ post.author}} on {{ post.pub_date }} in {{ post.category }}</p>
            </header>
            <content>
                <img src="/{{post.image.url}}"/>
                <p>
                    {{ post.body }}
                </p>
            </content>
            <footer>
                tags:
                {% for tag in post.tag.all %}
                        <a href="tag/{{ tag.slug }}">{{ tag.name }}</a>
                     {% if not forloop.last %}, {% endif %}
                {% endfor %}
                
                
                    <!--sharing via vkontakte button-->
                    <!--
					<script type="text/javascript">

                    document.write(VK.Share.button(false, {type: 'button', text: 'Share'}));
                     
                    </script>
					-->
                    <!--end sharing via vkontakte button-->
                    
                    <!--sharing via facebook button-->
                    <!--<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>-->
                    <!--end sharing via facebook button-->
            </footer>

        </article>    
    </section>
{% endblock %}
    
