<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Index(blog) page{% endblock %}</title>
    
{% load staticfiles %}
    
    <!--[if lt IE 9]><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><![endif]-->
    <!--[if IE 9]><!--><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!--<![endif]-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'blog/styles/bootstrap.min.css' %}" />-->   
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/style.css' %}" />
    
    <!--sharing via vkontakte button-->
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <!--end sharing via vkontakte button-->
</head>

<body>

<!--sharing via facebook button-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=686268061503894";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--end sharing via facebook button-->

{% block header %}
<script type="text/javascript"> 
                    var categories = {};
</script>
{% for category in categories %}
    <script type="text/javascript"> 
    
                    categories['{{category.name}}'] = '{{category.slug}}';
</script>
{% endfor %}
    <script type="text/javascript"> 
                    console.log(categories);
</script>

<header class='container'>
    <nav class='row'>
        <ul class='col-md-12 col-sm-12'>
            <li><a href="{% url 'blog:index'%}" class='selected'>Home</a></li>
            <li id='dropdown_blog'><a href="{% url 'blog:index'%}" >Blog >></a></li>
            
            {% if user.is_authenticated %}
            <li><a href="/blog/logout/">Logout</a></li>
            {% else %}
            <li><a href="/blog/register/">Register Here</a></li>
            <li><a href="/blog/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% endblock %} <!--header-->

{% block main %}

<main  class='container'>
    {% block section %}
    <section class='row col-md-8'>
        {% if latest_post_list %}
                    <!--<script type="text/javascript"> 
                        var tags = [];

                    </script>-->
            {% for post in latest_post_list %}
                <article>
                    <header>
                        <h2><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h2>
                        <p>Posted by {{ post.author}} on {{ post.pub_date }} in {{ post.category }}</p>
                    </header>
                    <content>
                         <!--<img src="{% static post.image.url %}"/>-->
                        <img src="{% static post.image_thumbnail_big.url %}"/>
                        
                        <p>{{ post.body|truncatechars:800 }}</p>
                         <!--   <script type="text/javascript"> 
                                var categories = {{ post.category}};
                            </script>-->

                        
                    </content>   
                    <footer class="tags">tags:

                    {% for tag in post.tag.all %}
                        <!--<script type="text/javascript"> 

                            tags.push('{{ tag.name }}');

                        </script>-->
                        <a href="tag/{{ tag.slug }}">{{ tag.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}

                        
                    <!--<a href="/blog/category/{{ post.category }}">{{ post.category }}</a>-->
                    </footer>
                     
                </article>
            {% endfor %}
                    <!--<script type="text/javascript"> 
                            console.log(tags)
                    </script>-->
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    
    </section>
    {% endblock %} <!--section-->
    {% block aside %}
    <aside class='row col-md-4'>
        {% block first_aside %}
        <p>Categories: </p>
        {% for category in categories %}
        <article>
            <header>
                
                <h2><a href="{% url 'blog:category' category.slug %}">{{category.name}}</a></h2>
            </header>
        </article>
        {% endfor %}
        {% endblock %} <!--first_aside-->
    </aside>
    <aside>
        <p>Recent posts: </p>
        {% for post in three_last_posts %}
        
        <article>
            <header>
                <img src="{% static post.image_thumbnail_small.url %}"/>
                <h2><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h2>
                <p>{{ post.pub_date }} in {{ post.category }}</p>
            </header>
            <content>
                 <!--<img src="{% static post.image.url %}"/>-->
                
                
                <p>{{ post.body|truncatechars:150 }}</p>
                
            </content>   
        </article>
        {% endfor %}
    </aside>
    <aside>
        <p>Tags:</p>
        {% for tag in tags %}
                        
            <a href="tag/{{ tag.slug }}">{{ tag.name }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </aside>
    {% endblock %} <!--aside-->
</main>
{% endblock %} <!--main-->

{% block footer %}
<footer class='container'>
    <nav class='row'>
        <ul class='col-md-12 col-sm-12'>
            <li><a href="{% url 'blog:index'%}">Home</a></li>
            <li id='dropdown_blog'><a href="{% url 'blog:index'%}" >Blog >></a></li>
            
            {% if user.is_authenticated %}
            <li><a href="/blog/logout/">Logout</a></li>
            {% else %}
            <li><a href="/blog/register/">Register Here</a></li>
            <li><a href="/blog/login/">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <p>&copy; Copyright 2015, <a href='#'>my website</a>
    </p>
<footer>

<script type="text/javascript" src="{% static 'blog/scripts/main.js' %}"></script>

{% endblock %} <!--footer-->

</body>
</html>