{% extends "blog/category.html" %}



{% block title %}Tag page{% endblock %}

{% block section %}
    <section>

        {% if tag %}
            {% if posts %}
                        
                <article>
                    <header>
                        <h1> Posts for the tag <a href="{{ tag.slug }}">{{ tag.name }}</a></h1>
                    </header>
                </article>
                {% for post in posts %}
                    <article>
                        <a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a>
                    </article>
                {% endfor %}
            {% else %}
                <strong>No posts currently in category.</strong>
            {% endif %}
        {% else %}
            The specified tag {{ tag.name }} does not exist!
        {% endif %}
    </section>
{% endblock %}


